@charset "UTF-8";

/* header image */
.lizard-image {
    max-height: 50vh;
    height: 30rem;
    width: 100%;
    display: block;
    background: url(../hoppers-lizard-tom.jpg);
    background-size: cover;
    background-position: center;
}

/* todo List styling */
#todo-target {
    padding: 0;
    border: 0.1rem solid var(--pico-color-blue-300);
    background: var(--pico-color-blue-100);
    border-radius: var(--pico-border-radius);
}
#todo-target .todo-item {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0.5rem;
    align-items: center;
}
#todo-target .todo-item button {
    height: 2rem;
    width: 2rem;
    padding: 0;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#todo-target .todo-item span {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.25rem;
}
#todo-target .todo-item.complete span {
    text-decoration: line-through;
}
#todo-target .todo-item.complete {
    background-color: var(--pico-color-green-150);
    color: var(--pico-color-slate-600);
}